.video-container .controls-container .controls {
  height: 35px;
}
.video-container .duration-container,
.video-container .pduration-container {
  font-size: 90%;
  line-height: 40px;
}
.video-container .play-icon,
.video-container .pause-icon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}
.video-container .settings .settings-option {
  width: 200px;
  height: 100px;
  bottom: 52px;
  right: -26px;
}
.video-container .settings .settings-option div {
  height: 30px;
}
.video-container .settings .settings-option svg{
  width: 14px;
}
.video-container .settings .settings-option div h3 {
  font-size: 12px;
}
.video-container .settings .settings-option .speed .settings-second .svg {
  height: 20px;
  width: 20px;
}
.video-container #speedValue {
   width: 25px;
}
.video-container .controls-container .controls button {
  width: 30px;
}
.video-container .controls-container .controls .mute-btn {
  width: 30px;
}
@media (min-width: 500px) {
  .video-container.full-screen .controls-container {
    padding: 0 10px 3px;
  }
  .video-container .timeline-container {
    margin: 0 7px 8px 7px;
  }
}
.video-container .holdskipr {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 150px;
  background-color: #ffffff64;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1.5);
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  padding-left: 70px;
  font-size: 8px;
  pointer-events: none;
  opacity: 0;
  transition: 500ms;
}
.video-container .holdskipl {
  position: absolute;
  height: 100%;
  right: 0px;
  width: 150px;
  background-color: #ffffff64;
  top: 50%;
  transform: translateY(-50%) translateX(50%) scale(1.5);
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  padding-right: 70px;
  font-size: 8px;
  pointer-events: none;
  opacity: 0;
  transition: 500ms;
}
.video-container .duration-container,
.video-container .pduration-container{
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 100%;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  line-height: 47px;
  margin-top: 1px;
}
.video-container .pduration-container {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  color: #f1f1f1;
  pointer-events: none;
  padding: 0px 5px;
  border-radius: 6px;
  z-index: 1010;
  font-size: 20px;
}
.video-container .duration-container,
.video-container .pduration-container {
  font-size: 90%;
  line-height: 35px;
}
.video-container .pduration-container {
  font-size: 90%;
  line-height: 40px;
  text-shadow: 0.25px 0 #000000, -0.25px 0 #000000, 0 0.25px #000000, 0 -0.25px #000000,
  0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
}
.video-container .PlayPause {
  width: 50px;
  height: 50px;
}
.video-container .loadinganimation {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-left: 3px solid transparent;
  top: 12%;
}
.video-container .Volume-rate {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  background-color: rgba(0, 0, 0, 0.412);
  color: #f1f1f1;
  z-index: 1;
  padding: 0px 6px 0 2px;
  border-radius: 6px;
  align-items: center;
  font-size: 12px;
}
.video-container .Volume-rate .volume-svg svg {
  width: 25px;
  height: 25px;
}
.video-container .timeline-container .timeline {
  height: 2px;
}
.video-container #going {
  top: -14px;
  font-size: 11px;
  text-shadow: 0.25px 0 #000000, -0.25px 0 #000000, 0 0.25px #000000, 0 -0.25px #000000,
  0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
}
.video-container .divSkip svg {
  width: 10px;
  height: 30px;
  opacity: 0;
  fill: #f1f1f1;
}
@media (max-width: 640px) {
  .video-container .divSkip svg {
    width: 10px;
    height: 30px;
    opacity: 0;
    fill: #f1f1f1;
  }
}
.video-container .timeline .preview-img-container {
  top: -10px;
}
.video-container .timeline-container:hover #going{
  display: none;
}
.video-container .controls-container .controls button {
  opacity: 1;
}
.video-container .timeline-container:hover .timeline .thumb-indicaror {
  width: 0px;
  height: 0px;
}
.video-container .timeline-container:hover .timeline {
  height: 2px;
}
.video-container .timeline-container:hover .timeline::before {
  display: none;
}
.video-container .timeline-container:hover .preview-img-container {
  display: none;
  opacity: 0;
}
.video-container.scrubbing .timeline-container .timeline .thumb-indicaror {
  width: 14px;
  height: 14px;
}
.video-container.scrubbing .timeline-container .timeline {
  height: 2px;
}
.video-container.scrubbing .timeline-container .timeline::before {
  display: block;
}
.video-container.scrubbing .timeline-container .preview-img-container {
  display: block;
  opacity: 0.9999999;
}
.video-container.scrubbing .timeline-container #going{
  display: block;
}
@media (min-width: 500px) {
  .video-container .holdskipl { 
    width: 250px;
    padding-right: 130px;
  }
  .video-container .holdskipr { 
    width: 250px;
    padding-left: 130px;
  }
}
