*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: #1a1a1a;
  font-family: sans-serif;
}
/* width */
::-webkit-scrollbar {
  display: none ;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none;
}
.video-container button:focus {
  outline-offset: -2px;
  transition: .3s;
}
.video-container svg {
  width: 100%;
  height: 90%;
}
.video-container .controls-container .controls button i{ 
  width: 30px;
  height: 30px;
}
.video-container .center .play-pause-btn svg {
 transform: translateX(1px) scale(1.17);
 transform-origin: center;
}
.video-container .center .skip-forward svg {
  transform: translateX(1px);
}
.video-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  margin: 30px auto;
  border-radius: 10px;
}
.video-container #blah {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  filter: brightness(1);

}
.video-container .controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  color: #f1f1f1;
  z-index: 100;
}
.video-container .controls-container::before {
  content: "";
  background-repeat: repeat-x;
  position: absolute;
   background:  linear-gradient(to top, rgba(0, 0, 0, 0.367), transparent);
  pointer-events: none;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  aspect-ratio: 2/1;
}
/* .video-container .controls-container::after {
  content: "";
  background-repeat: repeat-x;
  position: absolute;
  background:  linear-gradient(to bottom, rgba(0, 0, 0, 0.376), transparent);
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  aspect-ratio: 7/2;
} */
.video-container:hover .controls-container,
.video-container.paused .controls-container,
.video-container:focus-within .controls-container {
  opacity: 1;
}
.video-container .controls-container .controls {
  padding: 0px 4px 0px 4px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: relative;
}
.video-container .controls-container .controls .first {
  margin-left: 2px;
  display: flex;
  height: 100%;
  align-items: center;
}
.video-container .controls-container .controls .center {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;
}
.video-container .controls-container .controls .end {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  height: 100%;
  align-items: center;
}
.video-container .controls-container .controls button {
  width: 42px;
  height: 100%;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.video-container .controls-container .controls button:hover {
  opacity: 1;
}
.video-container .controls-container .controls .pause-icon {
  opacity: 1;
  transition: .3s;
}
.video-container.paused .controls-container .controls .pause-icon {
  opacity: 0;
  transition: .3s;
}
.video-container .controls-container .controls .play-icon {
  opacity: 1;
  transition: .3s;
}
.video-container:not(.paused) .controls-container .controls .play-icon {
  opacity: 0;
  transition: .3s;
}
.video-container.theater {
    width: 100%;
    height: 90vh;
    max-width: 100%;
    margin: 0px auto 15px auto;
    border-radius: 0px;
}
.video-container.full-screen {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  margin: 0px auto;
  border-radius: 0px;
}
.video-container.theater .tall {
  display: none;
}
.video-container:not(.theater) .wide {
  display: none;
}
.video-container.full-screen .open {
  display: none;
}
.video-container:not(.full-screen) .close {
  display: none;
}

.video-container .volume-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.video-container .volume-container .mute-btn {
  width: 40px;
  padding: 2px;
}
.video-container .volume-container .mute-btn{
  margin-left: 1px;
  transition: 1s;
  transform: scale(1.1);
}
.video-container .Volume-rate .volume-svg svg {
  width: 32px;
  transition: 1s;
  transform: translateY(1px);
}
.video-container .Speed-rate .speed-svg svg {
  width: 26px;
  transition: 1s;
  transform: translateY(1px);
}
.video-container .volume-container .mute-btn svg .path-three,
.video-container .Volume-rate .volume-svg svg .path-three{
 opacity: 1;
 transition: .3s;
}
.video-container .volume-container .mute-btn svg .path-two,
.video-container .Volume-rate .volume-svg svg .path-two{
  opacity: 1;
  transition: .3s;
 }
.video-container .volume-container .mute-btn svg .g-mute,
.video-container .Volume-rate .volume-svg svg .g-mute{
  opacity: 0;
  transition: .3s;
 }
.video-container .volume-high-icon,
.video-container .volume-low-icon,
.video-container .volume-muted-icon {
  display: none;
}
.video-container[data-volumelevel="high"] .volume-high-icon {
  display: block;
}
.video-container[data-volumelevel="low"] .mute-btn svg .path-three,
.video-container[data-volumelevel="low"] .Volume-rate .volume-svg svg .path-three{
  opacity: 0;
  transition: opacity .3s;
}
.video-container[data-volumelevel="low"] .mute-btn svg .path-two,
.video-container[data-volumelevel="low"] .Volume-rate .volume-svg svg .path-two{
  opacity: 1;
  transition: opacity .3s;
}
.video-container[data-volumelevel="muted"] .mute-btn svg .g-mute,
.video-container[data-volumelevel="muted"] .Volume-rate .volume-svg svg .g-mute {
  opacity: 1;
}
.video-container[data-volumelevel="muted"] .mute-btn svg .path-three,
.video-container[data-volumelevel="muted"] .mute-btn svg .path-two,
.video-container[data-volumelevel="muted"] .Volume-rate .volume-svg svg .path-two,
.video-container[data-volumelevel="muted"] .Volume-rate .volume-svg svg .path-three {
  opacity: 0;
}

.video-container input[type="range"]:focus {
  width: 70px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  position: relative;
}
.video-container input[type="range"]{
  -webkit-appearance: none;
  width: 0px;
  height: 3px;
  background: rgba(255,255,255,.2);
  background-image: linear-gradient(#fff, #fff);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 3px;
  margin-top: 1px;
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  -webkit-transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  -moz-transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  -ms-transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  -o-transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: left;
  margin-right: 5px;
  cursor: pointer;
}
.video-container input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
.video-container input[type=”range”]::-webkit-slider-runnable-track,
.video-container input[type=”range”]::-moz-range-track,
.video-container input[type=”range”]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.video-container .volume-container:hover input[type="range"] {
  width: 70px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.video-container .duration-container {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 100%;
  vertical-align: top;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  line-height: 47px;
  margin-top: 1px;
}
.video-container .timeline-container {
  height: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px 0;
  box-sizing: content-box;
  position: relative;
  top: 10px;
  z-index: 102;
  margin: 0 7px 4px 7px;
  --progress-position: 0;
}
.video-container .timeline-container .timeline {
  background-color: rgba(100, 100, 100, .5);
  height: 3px;
  width: 100%;
  position: relative ;
  transition: height  .1s ease-in-out;
  -webkit-transition: height  .1s ease-in-out;
  -moz-transition: height  .1s ease-in-out;
  -ms-transition: height  .1s ease-in-out;
  -o-transition: height  .1s ease-in-out;
}
.video-container .timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(186, 186, 186);
  display: none;
}
.video-container .timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: #006358;
}
.video-container .timeline .thumb-indicaror {
  position: absolute;
  transform: translateY(-48%) translateX(50%);
  height: 250%;
  top: 50%;
  right: calc(100% - var(--progress-position) * 100%) ;
  background-color: #006358;
  border-radius: 50%;
  transition: width 150ms linear, height 150ms linear;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 0px;
  height: 0px;
}

.video-container .timeline .preview-img-container {
  position: absolute;
  height: 120px;
  top: -36px;
  transform: translate(-50% , -100%);
  -webkit-transform: translate(-50% , -100%);
  -moz-transform: translate(-50% , -100%);
  -ms-transform: translate(-50% , -100%);
  -o-transform: translate(-50% , -100%);
  left: calc( var(--preview-position-img) * 100%);
  border: 2px solid white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  pointer-events: none;
  aspect-ratio: 16 / 9;
  opacity: 0;
  display: none;
}
.video-container .thubnail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.video-container.scrubbing {
  position: relative;
  z-index: 101;
}

.video-container.scrubbing .thubnail {
  display: block;
}
.video-container .timeline-container:hover .timeline .thumb-indicaror,
.video-container.scrubbing .timeline-container .timeline .thumb-indicaror {
  width: 14px;
  height: 14px;
}
.video-container .timeline-container:hover .timeline,
.video-container.scrubbing .timeline-container .timeline {
  height: 100%;
}
.video-container .timeline-container:hover .timeline::before,
.video-container.scrubbing .timeline-container .timeline::before {
  display: block;
}
.video-container .timeline-container:hover .preview-img-container,
.video-container.scrubbing .timeline-container .preview-img-container {
  display: block;
  opacity: 0.9999999;
}
.video-container .settings {
  position: relative;
  height: 100%;
}
.video-container .settings .settings-option svg{
  width: 24px;
}
.video-container .settings .settings-option {
  width: 300px;
  position: absolute;
  background-color: rgba(28,28,28,.9);
  right: -80px;
  bottom: 70px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  display: none;
  opacity: 0;
  transition: .15s;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -ms-transition: .15s;
  -o-transition: .15s;
  gap: 6px;
  flex-direction: column;
  overflow: hidden;
}
.video-container .settings .settings-option div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 3px;
  cursor: pointer;
  transition: 150ms;
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  -ms-transition: 150ms;
  -o-transition: 150ms;
  height: 42px;
}
.video-container .settings .settings-option .skip-value {
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
}
.video-container .settings .settings-option div:hover {
  background-color: rgb(51 51 51 / 91%);
  ;
}
.video-container .settings .settings-option div h3{
  font-weight: 300;
  margin-left: 5px;
}
.video-container .settings .settings-option div .settings-second h3{
  font-weight: 300;
  margin-left: 0px;
  margin-right: 10px;
}
.video-container #speedValue {
  margin: 0px 5px;
}
.video-container .settings .settings-option .speed .settings-second .svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 30px;
  height: 30px;
}
.video-container .settings .settings-option .speed .settings-second .svg:hover {
  background-color: rgb(22 22 22);
  
}
.video-container #speedValue {
  width: 28px;
  text-align: center;
}
.video-container #settingsBtn {
  overflow: hidden;
  transform: translateX(5px);
}
.video-container .PlayPause {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.319);
  width: 100px;
  height: 100px;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation:PlayPauseAnimation .4s linear forwards;
  -webkit-animation:PlayPauseAnimation .4s linear forwards;
}
.video-container .play-icon,
.video-container .pause-icon {
  width: 45px;
  height: 45px;
  margin-left: 8px;
}
.video-container .loadinganimation {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 6px solid #fff;
  border-left: 6px solid transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  animation: loading 2s infinite linear;
  -webkit-animation: loading 2s infinite linear;
  z-index: 1;
}
.video-container:not(.loading) .loadinganimation {
  display: none;
}
.video-container.loadind .loadinganimation {
  display: block;
}
.video-container #going {
  position: absolute;
  top: -8px;
  transform: translate(-50% , -100%);
  -webkit-transform: translate(-50% , -100%);
  -moz-transform: translate(-50% , -100%);
  -ms-transform: translate(-50% , -100%);
  -o-transform: translate(-50% , -100%);
  left: calc( var(--preview-position-img) * 100%);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  pointer-events: none;
  display: none;
}
.video-container .timeline-container:hover #going,
.video-container.scrubbing .timeline-container #going{
  display: block;
}
.video-container #blahh {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.video-container #Value10 {
  display: none;
}
.video-container #settingsBtnSvg {
  transform: rotate(1deg);
  transform-origin: center;
  transition: .5s;
}
.video-container .divSkip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1010;
}
.video-container .skipforward-animation {
  animation: AnimationForward 1s linear;
  animation-delay: 0.52s;
  right: 0%;
  display: flex;
}
.video-container .skipBackward-animation{
  animation: AnimationBackward 1s linear;
  animation-delay: 0.52s;
  left: 10%;
  display: flex;
}
.video-container .skipBackward-animation svg {
  transform: rotate(180deg);
}
.video-container .divSkip svg {
  width: 24px;
  height: 80px;
  opacity: 0;
  fill: #f1f1f1;
}
.video-container .skipforward-animation .s {
  animation: AnimationForwardSvgs .5s linear forwards;
  animation-delay: 0.2s;
}
.video-container .skipforward-animation .b {
  animation: AnimationForwardSvgs .5s linear forwards;
  animation-delay: 0.1s;
}
.video-container .skipforward-animation .c {
  animation: AnimationForwardSvgs .5s linear forwards ;
} 
.video-container .skipBackward-animation .c {
  animation: AnimationBackwardSvgs .5s linear forwards;
  animation-delay: 0.2s;
}
.video-container .skipBackward-animation .b {
  animation: AnimationBackwardSvgs .5s linear forwards;
  animation-delay: 0.1s;
}
.video-container .skipBackward-animation .s {
  animation: AnimationBackwardSvgs .5s linear forwards ;
} 
.video-container .Volume-rate,
.video-container .Speed-rate{
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  background-color: rgba(0, 0, 0, 0.412);
  color: #f1f1f1;
  z-index: 1;
  padding: 0px 6px;
  border-radius: 6px;
  align-items: center;  
}
@media (max-width: 1000px) {
  .video-container .timeline .preview-img-container { 
    height: 90px;
  }
}
@media (max-width: 800px) {
  .video-container .divSkip svg {
    width: 22px;
    height: 40px;
    opacity: 0;
    fill: #f1f1f1;
  }
}
@media (max-width: 640px) {
  .video-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .video-container .controls-container .controls button {
    width: 38px;
  }
  .video-container .controls-container .controls .end {
    gap: 1px;
  }
  .video-container .timeline .preview-img-container { 
    height: 80px;
  }
  .video-container .volume-container:hover input[type="range"] {
    width: 40px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8) ;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .video-container.theater {
    height: 75vh;
  }
  .video-container .divSkip svg {
    width: 14px;
    height: 40px;
    opacity: 0;
    fill: #f1f1f1;
  }
}
@media (max-width: 480px) {
  .video-container .controls-container .controls button {
    width: 32px;
  }
  .video-container .controls-container .controls .end {
    gap: 0px;
  }
  .video-container .controls-container .controls .center {
    gap: 0px;
  }
  .video-container .controls-container {
    padding: 0px 0px 0px 0px;
  }
  .video-container .controls-container .controls {
    gap: 2px;
    font-size: 14px;
  }
  .video-container .volume-container:hover input[type="range"] {
        width: 30px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7) ;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}
@keyframes AnimationForwardSvgs {
 0% {
   opacity: 0;
   transform: translateX(-300px);
 }
 40% {
   opacity: 1;
   transform: translateX(0px);
 }
 100% {
   opacity: 1;
   transform: translateX(0px);
 }
}
@keyframes AnimationForward {
 0% {
   opacity: 1;
   transform: translateX(-50%)  translateY(-50%);
 }
 100% {
   opacity: 0;
   transform: translateX(800px) translateY(-50%);
 }
}
@keyframes AnimationBackwardSvgs {
 0% {
   opacity: 0;
   transform: translateX(300px) rotate(180deg);
 }
 40% {
   opacity: 1;
   transform: translateX(0px) rotate(180deg);
 }
 100% {
   opacity: 1;
   transform: translateX(0px) rotate(180deg);
 }
}
@keyframes AnimationBackward {
 0% {
   opacity: 1;
   transform:translateX(-50%) translateY(-50%);
 }
 100% {
   opacity: 0;
   transform: translateX(-800px) translateY(-50%);
 }
}
@keyframes loading {
  from{
    transform: translate(-50% , -50%) rotate(0deg);
    -webkit-transform: translate(-50% , -50%) rotate(0deg);
    -moz-transform: translate(-50% , -50%) rotate(0deg);
    -ms-transform: translate(-50% , -50%) rotate(0deg);
    -o-transform: translate(-50% , -50%) rotate(0deg);
}
  to {
    transform: translate(-50% , -50%) rotate(360deg);
    -webkit-transform: translate(-50% , -50%) rotate(360deg);
    -moz-transform: translate(-50% , -50%) rotate(360deg);
    -ms-transform: translate(-50% , -50%) rotate(360deg);
    -o-transform: translate(-50% , -50%) rotate(360deg);
  }
}
@keyframes PlayPauseAnimation {
  0% {
    transform:translateY(-50%) scale(1);
    -webkit-transform:translateY(-50%) scale(1);
    -moz-transform:translateY(-50%) scale(1);
    -ms-transform:translateY(-50%) scale(1);
    -o-transform:translateY(-50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(1.5);
    -webkit-transform: translateY(-50%) scale(1.5);
    -moz-transform: translateY(-50%) scale(1.5);
    -ms-transform: translateY(-50%) scale(1.5);
    -o-transform: translateY(-50%) scale(1.5);
    opacity: 0;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
50% {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
100% {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
}
/* //////// */
.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px ;
  margin: 40px 0;
}
.input-field input {
  width: 300px;
  height: 45px;
  position: relative;
}
.input-field #inputch::before {
  content: "Chose Locally";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #006358;
  top: 0;
  left: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
  border-radius: 3px;
  cursor: pointer;
}
.input-field .url {
  position: relative;
}
.input-field .url input {
  width: 300px;
  color: black;
  font-family: sans-serif;
}
.input-field .url input:focus {
  outline: none;
}
.input-field button {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 80px;
  height: 100%  ;
  border: none;
  background-color: #006358;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}
@media (max-width: 640px) {
  .input-field .url {
    position: relative;
    width: 100%;
  }
  .input-field .url-container {
    width: 50%;
  }
  .input-field .url input {
    width: 100%;
    color: black;
    font-family: sans-serif;
  }
  .input-field input {
    width: 50%;
    height: 45px;
    position: relative;
  }
}
